<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Credit - Loan &amp; Credit Company HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div>hihihi</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="25 th Street Avenue, Los Angeles, CA"><img src="static/img/core-img/placeholder.png" alt=""> <span>25 th Street Avenue, Los Angeles, CA</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="office@yourfirm.com"><img src="static/img/core-img/message.png" alt=""> <span>office@yourfirm.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/prediction">Discover</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="static/static/img/core-img/call2.png" alt=""> +800 49 900 900</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(static/img/bg-img/13.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Elements</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Elements</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <section class="elements-area section-padding-100-0">
        <div class="container">
            <div class="row">               

                

                <!-- ========== Loaders ========== -->
                <div class="col-12">
                    <div class="elements-title mb-30">
                        <h2>Loading...</h2>
                    </div>
                </div>

                <div class="col-12">
                    <!-- Loaders Area Start -->
                    <div class="our-skills-area">
                        <div class="row">

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle4" class="circle" data-value="0.90">
                                        <div class="skills-text">
                                            <span>89%</span>
                                        </div>
                                    </div>
                                    <p>Accuracy</p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle5" class="circle" data-value="0.75">
                                        <div class="skills-text">
                                            <span>84%</span>
                                        </div>
                                    </div>
                                    <p>ROC Score</p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle6" class="circle" data-value="0.97">
                                        <div class="skills-text">
                                            <span>80%</span>
                                        </div>
                                    </div>
                                    <p>F1 Score</p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle7" class="circle" data-value="0.90">
                                        <div class="skills-text">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                    <p>Energy</p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle8" class="circle" data-value="0.75">
                                        <div class="skills-text">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                    <p>Power</p>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="single-skils-area mb-70">
                                    <div id="circle9" class="circle" data-value="0.97">
                                        <div class="skills-text">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                    <p>Resource</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ========== Prediction Result ========== -->
                 <div class="col-12">
                    <div class="elements-title mb-30">
                        <hr />
                        <br />
                        <h1>Our Suggestion is {{ prediction }} </h1>
                    </div>
                </div>

                
                <!-- ========== Milestones ========== -->
                <div class="col-12">
                    <div class="elements-title mb-30">
                        <hr />
                        <br />

                        <h2>Milestone</h2>
                            <div></div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="credit-cool-facts-area">
                        <div class="row">

                            <div class="col-12 col-sm-6 col-lg-3">
                                <!-- Single Cool Facts -->
                                <div class="single-cool-fact d-flex align-items-center mb-100">
                                    <div class="scf-icon mr-15">
                                        <i class="icon-piggy-bank"></i>
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">8710</span></h2>
                                        <p>Clients</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <!-- Single Cool Facts -->
                                <div class="single-cool-fact d-flex align-items-center mb-100">
                                    <div class="scf-icon mr-15">
                                        <i class="icon-coin"></i>
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">35</span></h2>
                                        <p>Creditors</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <!-- Single Cool Facts -->
                                <div class="single-cool-fact d-flex align-items-center mb-100">
                                    <div class="scf-icon mr-15">
                                        <i class="icon-diamond"></i>
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">12</span></h2>
                                        <p>awards</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <!-- Single Cool Facts -->
                                <div class="single-cool-fact d-flex align-items-center mb-100">
                                    <div class="scf-icon mr-15">
                                        <i class="icon-wallet"></i>
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">32</span></h2>
                                        <p>Branchs</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                

                <!-- ========== Next Step ========== -->
                <div class="col-12">
                    <div class="elements-title mb-30">
                        <hr />
                        <br />
                        <h2>Next Step</h2>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service-area d-flex mb-100">
                                <div class="icon">
                                    <i class="icon-idea"></i>
                                </div>
                                <div class="text">
                                    <h5>Meet with Our Consultants</h5>
                                    <p>By understanding your evolving needs and creating solutions that help you innovate and grow</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service-area d-flex mb-100">
                                <div class="icon">
                                    <i class="icon-balance"></i>
                                </div>
                                <div class="text">
                                    <h5>Easy and fast answer</h5>
                                    <p>By painting a broader picture for you, our analytics team can develop and apply extremely sound and effective business strategies.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-service-area d-flex mb-100">
                                <div class="icon">
                                    <i class="icon-coin"></i>
                                </div>
                                <div class="text">
                                    <h5>Value and Beliefs</h5>
                                    <p>Every day, we source, analyze, and provide suggestions to consumers, businesses, and organizations, and enable them to make informed decisions that can lead to life-changing opportunties.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========== Web Icons ========== -->
                
                
                <div class="col-12 mb-70">
                    <div class="row">
                        
                       
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ##### Elements Area End ##### -->

    <!-- ##### Newsletter Area Start ###### -->
    <section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(static/img/bg-img/6.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2>Subscribe to our newsletter</h2>
                        <form action="#" method="post">
                            <input type="email" name="nl-email" id="nlemail" placeholder="Your e-mail">
                            <button type="submit">Subscribe</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ###### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

               

               
             

                <!-- Single Footer Widget -->
                
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            

                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
</body>

</html>